.sagan{
	width:600px;
	height:550px;
	left:75px;
	top:16%;
	background-color:RGBA(200,200,200,0.1);
	color:white;
	z-index:999999;
	position:fixed;
	font-size:14px;
	text-align:right;
}

body{
	background-color:black;
}
		@-webkit-keyframes STAR-MOVE {
			from {
				background-position: 5% 5%
			}
			to { 
				background-position: 1300% 600%
			}
		}
		
		@-webkit-keyframes STAR-MOVE-MID {
			from {
				background-position: 5% 1%
			}
			to { 
				background-position: 1300% 100%
			}
		}
		
		@-webkit-keyframes STAR-MOVE-REVERSE {
			from {
				background-position: 1300% 600%
			}
			to { 
				background-position: 5% 5%
			}
		}
		
#body{
	width:100vw;
	height:100vh;
	background: url(bg_s1.gif);
}

#vid{
	padding-left:32%;
	padding-top:20%;
	z-index:999;
	line-height:100%;
	}

#video{
	z-index:700;
	position:fixed;
	top:30%;
}
.table {
	position:fixed;
	bottom:50px;
	z-index:99999;
	color:white;
	margin:auto;
	text-align:center;
	font-size:12px;
}
#input, select, textarea{
    color: black;
}
}

#text{
	color:black;
}

#mid{
	color:white;
    background: url(midground.png) repeat 20% 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    -webkit-animation-name: STAR-MOVE-MID;
    -webkit-animation-duration: 600s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
#for{
    background: url(foreground.png) repeat 20% 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:400;
    -webkit-animation-name: STAR-MOVE-REVERSE;
    -webkit-animation-duration: 600s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

